
.carousel{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.item{
    padding: 20px;
    padding-left: 0;
}
/* .clickButton{
    margin-left: 70%;
    padding: 10px;
} */
.clickButton img{
    padding: 5px;
}
.titleSlide{
    background-color: rgb(123, 128, 127);
    padding-left:20px;
    color: white;
}
.titles:hover{
    color: #f53b57
    ;
}